.info_profile {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: var(--color-primary);
}
.info_profile img {
  filter: invert(40%);
}
.info_text {
  word-wrap: break-word;
}
.info_col{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info_col button{
    width: 100%;
}
.w100{
    width: 100%;
    margin: 10px 0;
}
